
body{
    font-family: Arial;
    margin: 40px;
}

a{
    margin: 7px;
}

h1{
    text-align: center;
}

h2,p{
    margin: 0px;
    line-height: 1;
}

p,span{
    font-size: 20px;
}

.comprar{
     
    text-decoration: none;
    color: #103;
    
    background: #a8f;
    padding: 10px 20px;
    border-radius: 4px;
    
    font-size: 20px;
}
