
body{
    font-family: Arial;
}

h1{
    text-align: center;
}

.card_itens{
    display: grid;
    height: 1100px; /*Aumentado o espaçamento do bloco*/
    grid-template-columns: 300px 300px; 
    gap: 10px;
    align-content: center; /*Alinha verticalmente */
    justify-content: center; /* Alinha horizontalmente*/
}

.item{
    
    background: #535050;
    
    margin-top: 16px;
    /* margin-bottom: 20px; */
    padding: 20px;
    border: 1px solid #e7e7e7;
    border-radius: 4px; 
}

.comprar{
     
    text-decoration: none;
    color: #103;
    
    background: #a8f;
    padding: 10px 20px;
    border-radius: 4px;

}
