
body{
    margin: 4px;
}

.flex{
    
    display: flex;
    flex-wrap: wrap;/* indica se dever quebrar o elemento em uma nova linha, depois se necessario seu conteudo interno.  */
    justify-content: space-between;
    align-content: center;
    
    background: chocolate;/* Para ter conhecimento do espaço do elemento */
    margin: 20px;
    height: 300px;

}

.link, a {
    
    text-decoration: none;
    color: black;
    font-size: 20px;

    padding-top: 10px;
    padding-left: 8rem;
}

h2{

    background: #77074c;
    border: 1px solid #d7d7d7;
    margin: 10px;
    padding: 20px;
}
