
body{
    background: #7b7b7b;
    color: darkorange;
    font-family: arial;
    font-size: 20px;
    
    margin: 0;
    display: grid;
    gap: 60px;
    justify-content: center;
}

a{
    margin: 5px;
    text-decoration: none;
    font-family: Arial;
    font-size: 20px;
    color: black;
    
    border-radius:4px;
    padding: 0px 10px;
    background: #c6c6c6;
}

h1{
    text-align: center;
}

p,h1,h2{
    margin: 0px;
}

img{
    max-width: 100%;
    display: block;
}

.menu{
    display: flex;
    justify-content: center;
    gap: 10px;
}

.content{
    background: #181a1b;
    display: grid;
    gap: 5px;
    
    padding: 11px;
    border-radius: 5px;
    
    grid-template-columns: 1fr 1fr;
    max-width: 1000px;

}

.info{
    display: grid;
    /* position: relative; */
    text-align: left;
    gap: 5px;
    padding-right: 5px;
}

.btn{
    place-self: end;
    padding: 5px 80px;
}

.subtitulo{
    place-self: center;
    font-size: 62px;
}

.vantagens{
    display: grid; 
    grid-template-columns: 32px 1fr;
    gap: 15px;
}


.icone{
    place-self: center;
}

.card_t, .card_p{
    font-size: 15px;
}
