/* Colors:
    - Muitas ja vem pré definidas pelos nomes.
    - Podem ser usado o rgb.
   Gradiente:
    - background: linear-gradient(sentido,cor1,cor2) -> Permite trabalhar com duas cores simultaneamente.
    - background: radial-gradient(centro, borda) -> Sua cor de centro muda, para a segunda cor definida. 
*/
#cores{
    width: 350px;
    height: 300px;
    background: linear-gradient(to left bottom,red,blue);
}

#cores2{
    width: 350px;
    height: 300px;
    background: radial-gradient(red,green);
}